.btn-primary{
    margin: auto;
    position: absolute;
    top: 73%;
    left: 40%;
    bottom: 0;
    right: 40%;
    height: 40px;
    background-color: #212529 !important;
}
.card-header{
    background-color: #212529 !important;
    color: white;
}

